.navbar-center {
	display: inline-block;
	float: none;
	vertical-align: top;
	font-size: 25px;
}

.navbar .navbar-collapse {
	text-align: center;
}

.myBTN {
	display: inline-block;
	float: none;
	margin-top: 8px;
	margin-bottom: 10px;
}